[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true

[alias]
	amlog = git show -s --notes=amlog --format="%N%s"

[remote "o"]
	url = gh:git/git
	fetch = +refs/heads/*:refs/remotes/o/*
[remote "gitster"]
	url = gh:gitster/git
	fetch = +refs/heads/*:refs/remotes/gitster/*
	fetch = +refs/notes/amlog:refs/notes/amlog
[remote "gh"]
	url = https://github.com/aschrab/git.git
	fetch = +refs/heads/*:refs/remotes/gh/*

[branch "master"]
	remote = o
	merge = refs/heads/master
[branch "next"]
	remote = o
	merge = refs/heads/next
[branch "pu"]
	remote = o
	merge = refs/heads/pu
[branch "seen"]
	remote = gitster
	merge = refs/heads/seen
