[submodule "upstreams/zsh"]
	path = upstreams/zsh
	url = http://git.qqx.org/zsh
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/syntax-coffeescript"]
	path = vim/bundle/syntax-coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/syntax-markdown"]
	path = vim/bundle/syntax-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/css-color"]
	path = vim/bundle/css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "vim/bundle/vcscommand"]
	path = vim/bundle/vcscommand
	url = http://git.qqx.org/vcscommand.vim
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/lighttpd"]
	path = vim/bundle/lighttpd
	url = https://github.com/aschrab/lighttpd-syntax.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = http://git.qqx.org/ultisnips
[submodule "vim/bundle/perl"]
	path = vim/bundle/perl
	url = git://github.com/aschrab/vim-perl.git
	update = merge
[submodule "upstreams/completions"]
	path = upstreams/completions
	url = https://github.com/aschrab/zsh-completions.git
[submodule "vim/bundle/nginx"]
	path = vim/bundle/nginx
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/speeddating"]
	path = vim/bundle/speeddating
	url = https://github.com/aschrab/vim-speeddating.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = https://github.com/aschrab/gitv.git
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/cmdalias"]
	path = vim/bundle/cmdalias
	url = https://github.com/vim-scripts/cmdalias.vim.git
[submodule "vim/bundle/js"]
	path = vim/bundle/js
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/aschrab/vim-ruby.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/SyntaxAttr"]
	path = vim/bundle/SyntaxAttr
	url = https://github.com/aschrab/SyntaxAttr.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/SudoEdit"]
	path = vim/bundle/SudoEdit
	url = https://github.com/chrisbra/SudoEdit.vim.git
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "vim/bundle/simplefold"]
	path = vim/bundle/simplefold
	url = https://github.com/aschrab/vim-simplefold.git
[submodule "vim/bundle/screenshell"]
	path = vim/bundle/screenshell
	url = https://github.com/ervandew/screen.git
