[submodule "upstreams/zsh"]
	path = upstreams/zsh
	url = http://git.qqx.org/zsh
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/syntax-coffeescript"]
	path = vim/bundle/syntax-coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/syntax-markdown"]
	path = vim/bundle/syntax-markdown
	url = https://github.com/briangershon/vim-markdown.git
[submodule "vim/bundle/css-color"]
	path = vim/bundle/css-color
	url = https://github.com/skammer/vim-css-color.git
