[submodule "upstreams/zsh"]
	path = upstreams/zsh
	url = git://git.code.sf.net/p/zsh/code
[submodule "vim/bundle/syntax-coffeescript"]
	path = vim/bundle/syntax-coffeescript
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/syntax-markdown"]
	path = vim/bundle/syntax-markdown
	url = https://github.com/aschrab/vim-markdown.git
[submodule "vim/bundle/css-color"]
	path = vim/bundle/css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/lighttpd"]
	path = vim/bundle/lighttpd
	url = https://github.com/aschrab/lighttpd-syntax.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/perl"]
	path = vim/bundle/perl
	url = git://github.com/vim-perl/vim-perl.git
	update = merge
[submodule "upstreams/completions"]
	path = upstreams/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "vim/bundle/nginx"]
	path = vim/bundle/nginx
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/aschrab/vim-fugitive.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/speeddating"]
	path = vim/bundle/speeddating
	url = https://github.com/aschrab/vim-speeddating.git
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "vim/bundle/editorconfig"]
	path = vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/cmdalias"]
	path = vim/bundle/cmdalias
	url = https://github.com/vim-scripts/cmdalias.vim.git
[submodule "vim/bundle/js"]
	path = vim/bundle/js
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/SyntaxAttr"]
	path = vim/bundle/SyntaxAttr
	url = https://github.com/aschrab/SyntaxAttr.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "vim/bundle/simplefold"]
	path = vim/bundle/simplefold
	url = https://github.com/aschrab/vim-simplefold.git
[submodule "vim/bundle/screenshell"]
	path = vim/bundle/screenshell
	url = https://github.com/aschrab/screen.git
[submodule "upstreams/syntax-highlight"]
	path = upstreams/syntax-highlight
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/aschrab/nerdtree.git
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/textobj-ruby"]
	path = vim/bundle/textobj-ruby
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "upstreams/powerline"]
	path = upstreams/powerline
	url = https://github.com/powerline/powerline
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/multiple-cursors"]
	path = vim/bundle/multiple-cursors
	url = https://github.com/kristijanhusak/vim-multiple-cursors.git
[submodule "vim/bundle/p4syntax"]
	path = vim/bundle/p4syntax
	url = https://github.com/aschrab/vim-perforce.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/perlprove"]
	path = vim/bundle/perlprove
	url = https://github.com/vim-scripts/perlprove.vim
[submodule "vim/bundle/mediawiki"]
	path = vim/bundle/mediawiki
	url = https://github.com/chikamichi/mediawiki.vim
[submodule "vim/bundle/you_complete_me"]
	path = vim/bundle/you_complete_me
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/bundle/swapit"]
	path = vim/bundle/swapit
	url = https://github.com/mjbrownie/swapit
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "vim/bundle/exchange"]
	path = vim/bundle/exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/bundle/textobj-comment"]
	path = vim/bundle/textobj-comment
	url = https://github.com/glts/vim-textobj-comment
[submodule "vim/bundle/count_jump"]
	path = vim/bundle/count_jump
	url = https://github.com/vim-scripts/CountJump
[submodule "vim/bundle/dbext"]
	path = vim/bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim
[submodule "vim/bundle/tmux-navigator"]
	path = vim/bundle/tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/bundle/genutils"]
	path = vim/bundle/genutils
	url = https://github.com/vim-scripts/genutils
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/unicode"]
	path = vim/bundle/unicode
	url = https://github.com/chrisbra/unicode.vim
[submodule "vim/bundle/syntax-jade"]
	path = vim/bundle/syntax-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "vim/bundle/narrow-region"]
	path = vim/bundle/narrow-region
	url = https://github.com/chrisbra/NrrwRgn
[submodule "mxw-jsx"]
	path = vim/bundle/jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "upstreams/rbenv"]
	path = upstreams/rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "rbenv/plugins/ruby-build"]
	path = rbenv/plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "vim/bundle/syntax-cjsx"]
	path = vim/bundle/syntax-cjsx
	url = https://github.com/mtscout6/vim-cjsx
[submodule "upstreams/ndenv"]
	path = upstreams/ndenv
	url = https://github.com/riywo/ndenv
[submodule "ndenv/plugins/node-build"]
	path = ndenv/plugins/node-build
	url = https://github.com/riywo/node-build
[submodule "vim/bundle/syntax-css3"]
	path = vim/bundle/syntax-css3
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "vim/bundle/liquid"]
	path = vim/bundle/liquid
	url = https://github.com/tpope/vim-liquid
[submodule "rbenv/plugins/rbenv-default-gems"]
	path = rbenv/plugins/rbenv-default-gems
	url = https://github.com/sstephenson/rbenv-default-gems.git
[submodule "vim/bundle/pipe"]
	path = vim/bundle/pipe
	url = https://github.com/krisajenkins/vim-pipe.git
[submodule "vim/bundle/git-gutter"]
	path = vim/bundle/git-gutter
	url = git://github.com/aschrab/vim-gitgutter.git
[submodule "vim/bundle/diff-enhanced"]
	path = vim/bundle/diff-enhanced
	url = git://github.com/chrisbra/vim-diff-enhanced.git
[submodule "vim/bundle/direnv"]
	path = vim/bundle/direnv
	url = https://github.com/direnv/direnv.vim.git
[submodule "vim/bundle/easy-align"]
	path = vim/bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/syntax-scss"]
	path = vim/bundle/syntax-scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/aschrab/vim-git.git
[submodule "vim/bundle/syntax-less"]
	path = vim/bundle/syntax-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/windowswap"]
	path = vim/bundle/windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
[submodule "vim/bundle/recover"]
	path = vim/bundle/recover
	url = https://github.com/chrisbra/Recover.vim.git
[submodule "vim/bundle/magit"]
	path = vim/bundle/magit
	url = https://github.com/jreybert/vimagit.git
[submodule "vim/bundle/rest-console"]
	path = vim/bundle/rest-console
	url = https://github.com/diepm/vim-rest-console.git
[submodule "vim/bundle/airline-themes"]
	path = vim/bundle/airline-themes
	url = gh:vim-airline/vim-airline-themes
[submodule "vim/bundle/xmledit"]
	path = vim/bundle/xmledit
	url = gh:sukima/xmledit.git
[submodule "vim/bundle/syntax-typescript"]
	path = vim/bundle/syntax-typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/tsuquyomi"]
	path = vim/bundle/tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim/bundle/dispatch"]
	path = vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/dispatch-neovim"]
	path = vim/bundle/dispatch-neovim
	url = https://github.com/radenling/vim-dispatch-neovim.git
[submodule "vim/bundle/tern"]
	path = vim/bundle/tern
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/bundle/deoplete"]
	path = vim/bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/bundle/snippets"]
	path = vim/bundle/snippets
	url = gh:honza/vim-snippets
[submodule "vim/bundle/autoread"]
	path = vim/bundle/autoread
	url = https://github.com/djoshea/vim-autoread.git
[submodule "vim/bundle/nvim-typescript"]
	path = vim/bundle/nvim-typescript
	url = https://github.com/mhartington/nvim-typescript.git
[submodule "upstreams/neovim-remote"]
	path = upstreams/neovim-remote
	url = https://github.com/mhinz/neovim-remote.git
[submodule "vim/bundle/scriptease"]
	path = vim/bundle/scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "vim/bundle/characterize"]
	path = vim/bundle/characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
