.*.sw[op]
.DS_Store
*.elc
*.pyc
/vim/.netrwhist
/vim/doc/tags
/vim/local.vim
/vim/spell
/lftp/cwd_history
/lftp/rl_history
/lftp/transfer_log
/mutt/aliases
/mutt/certificates
/mutt/secrets
/ssh/config
/ssh/id*
/ssh/authorized_keys
/ssh/known_hosts
