snippet <
<${1:tag}>${VISUAL}$2</${1/\s.*//}>
endsnippet

snippet << "Multiline element" A
<${1:tag}>
	${VISUAL}$2
</${1/\s.*//}>
endsnippet

# The snippet for links from upstream includes the **evil** target="_blank" by default
snippet a "Link" w
<a href="${1:http://www.${2:url.com}}"${3: }>${4:Anchor Text}</a>
endsnippet
