snippet should
should "${1:description}" do #{{{
	$0
end #}}}
endsnippet

clearsnippets do
snippet do
do `!p snip.rv = "|" if t[1] else""`${1:args}`!p snip.rv = "|" if t[1] else""`
	$3
end
$0
endsnippet
