snippet should
should "${1:description}" do #{{{
	$0
end #}}}
endsnippet

snippet do "do block" !s
do `!p snip.rv = "|" if t[1] else""`${1:args}`!p snip.rv = "|" if t[1] else""`
	$2
end
$0
endsnippet
