# vim: tw=0 ft=muttrc

set folder=imaps://ats@pug.qqx.org/
set spoolfile=+INBOX
set postponed=+Drafts # where to save postponed messages
set record=!/old      # save copies of outgoing mail
set mbox=+Misc
