# vim: tw=0 ft=muttrc

#macro index H <change-folder>imaps://ats@pug.qqx.org/

folder-hook 'imaps?://ats@pug.qqx.org/' 'set from="aaron@schrab.com"'
folder-hook 'imaps?://ats@pug.qqx.org/' 'set folder=imaps://ats@pug.qqx.org/'
folder-hook 'imaps?://ats@pug.qqx.org/' 'set spoolfile==INBOX'
folder-hook 'imaps?://ats@pug.qqx.org/' 'set postponed==Drafts'
folder-hook 'imaps?://ats@pug.qqx.org/' 'set record="=Archive"'

send2-hook '~f @(schrab\.com\|(pug\.)?qqx\.org)' 'unset smtp_url'
